
.input-group-text {
    background-color: limegreen;
}

.btn {
    color: black;
    background-color: limegreen;
    width: auto;
    border-radius: 1rem;
    font-weight: bold;
    border-color:limegreen;
}

.btn:hover {
    border-color: limegreen;
    background-color: whitesmoke;
    color: black;
}

.img-fluid {
    width:20rem;
}




