
.input-group-text {
    background-color: limegreen;
}

.btn {
    color: black;
    background-color: limegreen;
    width: auto;
    max-width: 8rem;
    border-radius: 1rem;
    font-weight: bold;
    border-color:limegreen;
}

.btn:hover {
    border-color: limegreen;
    background-color: whitesmoke;
    color: black;
    border-color: limegreen;
}

.btn:active {
    border-color: limegreen;
    background-color: whitesmoke;
    color: black;
}

.img-fluid {
    width:20rem;
    display: inline-block;
    flex-direction: row;
}

.b {
    width: 30rem;
}

.row{
    max-width: 40rem;
    position: center;
    justify-content: center;
    border-radius: 1rem;
    margin-left: 25%;
}

.form-control-com {
    width: 60rem;
    height: 3rem;
    
}

.com {
   width: 100%;
}



