@import url('https://fonts.googleapis.com/css?family=Numans');


.container-d{
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    height: 100%;
    align-content: center;
    padding-top: 2rem;
    color: whitesmoke
    }

.card-c{
    position: center;
    border: center;
    border-top: rgba(0,0,0,0.5);
    height: fit-content;
    /* min-height: 20rem; */
    margin-left: 25rem;
    margin-bottom: auto;
    width: fit-content;
    min-width: 30rem;
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 1rem;
    color: whitesmoke;
    
    }

.container-banner{
    background-color: whitesmoke;
    text-align: center;
    border-style: hidden;
    border-radius: 15px;
    font-family: 'Ruda', sans-serif;
}

#profilepic{
    border-radius: 85px;
    padding-top: 7px;
}

.container-about{
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 1rem;
    border-style: hidden;
    padding: 2rem; 
    text-align: center;
    color: whitesmoke
}

.card-header-d h3{
    color: white;
    padding-right: 10rem;
    }
    
  
    .input-group-prepend span{
    width: 50px;
    background-color: whitesmoke;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: whitesmoke;
    }
    
    .remember input
    {
    width: 30rem;
    height: 30rem;
    
    }
    
    button{
    color: black;
    background-color: #FFC312;
    width: 6rem;
    border-radius: 1rem;
    font-weight: bold;
    }
    
    button:hover{
    color: black;
    background-color: whitesmoke;
    }
    
    .links{
    color: whitesmoke;
    }
    
    .links a{
    margin-left: 4px;
    }

    .row {
        max-block-size: 20rem;
        margin-left: auto;
        margin-right: auto;
        
    }

    .container-banner{
        background-color: whitesmoke;
        text-align: center;
        border-style: hidden;
        border-radius: 15px;
        font-family: 'Ruda', sans-serif;
    }