
@import url('https://fonts.googleapis.com/css?family=Numans');


    .container{
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    align-content: center;
    }

    .card{
    position: center;
    border: center;
    border-top: rgba(0,0,0,0.5);
    height: fit-content;
    /* min-height: 20rem; */
    margin-top: 6rem;
    margin-bottom: auto;
    width: fit-content;
    min-width: 30rem;
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 1rem;
    color: whitesmoke;

    }


    .input-group-prepend span{
    width: 50px;
    background-color: greenyellow;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: whitesmoke;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: greenyellow;
    width: 6rem;
    border-radius: 1rem;
    font-weight: bold;
    }
    
    .login_btn:hover{
    color: black;
    background-color: whitesmoke;
    }
    
    .links{
    color: limegreen;
    }
    
    .links a{
    margin-left: 4px;
    }
