.header-h1{
    color: antiquewhite;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    margin:auto;
    border-radius: 15px;
}

#profilepic{
    border-radius: 10rem;
    padding-top: 0.5rem;
    width: auto;
}

.container-banner{
    background-color: black;
    text-align: center;
    border-style: hidden;
    border-radius: 15px;
    font-family: 'Ruda', sans-serif;
    color: whitesmoke;
}




