.header-h1{
    color: antiquewhite;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    margin:auto;
    border-radius: 1rem;
}

#home{
    background-color: black !important;
    border-style: hidden;
    text-align: center;
    width: auto;
    position: sticky;
    top:0;
    z-index: 1;
    border-radius: 1rem;
}

#home:hover{
    background-color: #7c7e80;
    border-style: solid;
    color: rgb(255, 254, 253);
}


.container-banner{
    background-color: whitesmoke;
    text-align: center;
    border-style: hidden;
    border-radius: 15px;
    font-family: 'Ruda', sans-serif;
}

#profilepic{
    border-radius: 85px;
    padding-top: 7px;
}

.container-about{
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 1rem;
    border-style: hidden;
    padding: 2rem; 
    text-align: center;
    color: whitesmoke
}

.container-about>p{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
  

}
.container-about>h1{
    font-family: 'Ruda', sans-serif;
}


.projects{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-style: hidden;
    padding: 18px; 
    text-align: center;
    
}
.projects h1{
    font-family: 'Ruda', sans-serif;
}

.projects p{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    
}

.container a{
    padding-right: 10px;
    text-decoration: none;
  
}

.container p{
    
    color: black;
    font-family: 'Slabo 27px', serif;
}

.container-1{
    color: #f1f1f1;
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;
   
     
}

#contactimg{
    border-style: hidden;
    background-color: #f1f1f1;
    border-radius: 90px;
}

.container-1 > a{
    padding-left: 5px;
    font-size: 22px;
    text-decoration: none;
    
}
span:hover{
    text-decoration: none;
    transform: scale(1.5);
    
}




