.navbar{
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 1rem;
    border-style: hidden;
    padding-right: 1rem; 
    padding-left: 9rem; 
    text-align: center;
    width: auto;
    position: sticky;
    top:0;
    z-index: 1;
    border-radius: 1rem;
}

.footer {
    
    border-style: hidden;
    height: 2rem;
    font-size: 0.6rem;
    border-radius: 1rem;
    position: static;
    width: 100%;
    padding-bottom: 2.5rem; 
}


.navbar .fa{
    color: whitesmoke;
    font-size: 1.2rem;
    border-style: hidden;
    border-color: black;
    border-width: .05rem;
    margin-left: 4rem;
    /* color: black */
   
}
.navbar .fa:hover{
    /* background-color: black; */
    border-style: solid;
    border-color: limegreen;
    border-radius: 0.2rem;
    color: rgb(255, 254, 253); 
    transform: scale(1.2);
}

#imgthumbnail{
    border-style: hidden;
    background-color: #f1f1f1;
    border-radius: 90px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 15px;
}

#car{
    text-decoration: none;
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

#mailmelogo{
    border-style: hidden;
    border-radius:5px;
    width:15px;
    height:15px;
    
}

.reg {
 color: limegreen;
}

.reg:hover {
    color: limegreen;
  
}