/* const link = {
    '
  }

  style={link}
          activeStyle={{
            background: 'darkorange' */



.link {
    width: 6rem;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    background: #FFC312;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 1rem;
}

.link:hover {
    color: black;
    background-color:whitesmoke;
    }

    .link:active {
        background-color:darkorange;
    }

div {
    height: 100%;
}

.nav {
    background-color: black;
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
}
