

.post-div {
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    max-width: 15rem;
    text-overflow: unset;
    align-content: center;
    background-color: black;
    color: whitesmoke
}


.card-deck {
    display: inline-block;
    flex-wrap: wrap;
    position: center;
    width: 20rem;
    padding: .5rem
    /* padding-left: 5rem;
    padding-right: 5rem; */
}

.card img {
    height: 10rem;
    width: 10rem;
    position: center;
    width: auto;
    max-width: 15rem;
    max-height: 15rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    display: flex;
    /* border-radius: 1rem; */
}

.card-b {
    width: 15rem;
    display: flex;
    min-width: 15rem;
    max-width: 15rem;
    position: center;
    border: center;
    border-top: rgba(0,0,0,0.5);
    height: fit-content;
    /* min-height: 20rem; */
    margin-top: 1rem;
    margin-bottom: auto;
    margin-left: 2rem;
    background-color: rgba(0,0,0,0.5) !important;
    /* border-radius: 1rem; */
}
 button {
     position: center;
     width: fit-content;
     height: fit-content;
     padding: 1rem;
     margin: 1rem 1rem 1rem 1rem;
     background: #FFC312;
     text-decoration: none;
     color: black;
     font-weight: bold;
     border-radius: 1rem;
 }

