
.card-img-top {
    width: 18rem;
    position: center;
    border-radius: 1rem;
}

.btn {
    color: black;
    background-color: limegreen;
    width: auto;
    border-radius: 1rem;
    font-weight: bold;
    border-color:limegreen;
}

.btn:hover {
    border-color: limegreen;
    background-color: whitesmoke;
    color: black;
}

.btn-primary {
    margin-right: 20rem;
}

.card {
    background-color: black;
    color: whitesmoke;
    border-radius: 1rem;
}